<div id="productsContainer" class='d-flex flex-wrap'>
    {{#each products}}

        <article class="card shadow border border-dark m-2 rounded">

            {{#if this.thumbnails.length}}
                <img class='card-img-top' src={{this.thumbnails.[0]}} alt={{this.description}} />
            {{/if}}

            <h4 class='card-title fw-semibold fs-6 p-2'>{{this.title}}</h4>
            <p class='card-text p-2'>{{this.description}}</p>
            <div class='d-block align-self-end p-2 text-black'>
                <p>{{this.price}}</p>
            </div>
        </article>
    {{/each}}
</div>